<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./common.css" media="all">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> -->
    <style>

    </style>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <h1>Configuration page</h1>
            <div>Select one or more controllers from the list for configuration. If no advanced settings are set, the
                controller(s) will be configured as one long strip.</div>
            <div class="row row-cols-2">
                <div class="col">
                    <Controllerlist @selected-mac-updated="getSelectedMacs"></Controllerlist>
                </div>
                <div class="col">
                    <div class="row mt-3">

                        <Groupsettings @group-number-updated="getSelectedGroup"></Groupsettings>

                        <div>
                            <p>Group selection is always required for configuration.</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!--<button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#advancedSettings" aria-expanded="false"
                            aria-controls="collapseExample">Advanced settings</button>-->

                        <div class="" id="advancedSettings">
                            <h2>Advanced settings</h2>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="type-of-leds" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="The length of LED-lights connected to the controller.<br>Different length LED-lights have different amounts of pixels, 1 pixel per 10 cm.">LED type</label>
                                <select class="form-select" id="type-of-leds" v-model="pixels"
                                    @change="calculateStrips" >
                                    <option value="0">Choose LED type...</option>
                                    <option value="5">0,5 m plastic</option>
                                    <option value="10">1 m plastic</option>
                                    <option value="15">1,5 m plastic</option>
                                    <option value="20">2,0 m aluminum</option>
                                    <option value="25">2,5 m plastic</option>
                                </select>

                            </div>
                            <div class="input-group">
                                <span class="input-group-text" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" title="The number of LED-lights connected to the controller.<br>The maximum number of LED-lights the controller can handle depends on the length of the LED-light.<br>Maximum amount of pixels a controller can handle is 1024.">Number of LED lights connected</span>
                                <input type="number" id="number-of-leds" class="form-control" v-model="lights" @change="calculateStrips">

                            </div>
                            <div class="input-group">
                                <span class="input-group-text" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Strips are virtual parts that the controller handles.<br>The connected LED-lights can be separated into 1-16 parts, e.g. grouped by every LED-light or every two LED-lights.<br>This changes the scale and repetition of lighting effects over all the connected LED-lights:<br>having one strip makes the effect span over all the connected lights,<br>while having 10 strips repeats the same effect 10 times over all the connected lights.">Number of strips (parts) to divide to</span>
                                <input type="number" id="number-of-strips" class="form-control" v-model="strips" @change="calculateStrips">

                            </div>
                            <div>
                                <br>
                                <h4>JSON preview</h4>
                                <textarea rows="10" cols="40" id="jsonpreview" readonly>{{ generateJSONpreview }} </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary" @click="sendConfiguration">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="./configuration.js" type="module"></script>
    <script src="./filtermodal.js" type="module"></script>
    <script src="./common.js" type="module"></script>

</body>

</html>